<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top " style="background-color: #1D3E72; font-family: LatoWeb">
	    <div class="container">
		    <a  class="pull-left brand-font"><img  class="img-responsive" width="50" height="50"src="~/images/logo.png"></a>

		    <div class="navbar-header">
			    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				    <span class="icon-bar"></span>
				    <span class="icon-bar"></span>
				    <span class="icon-bar"></span>
			    </button>


		    </div>
			
		    <div class="navbar-collapse collapse">
			    @Html.Partial("_LoginPartial")
			    <ul class="nav navbar-nav navbar-right">
				    <li>@Html.ActionLink("Home", "Index", "Home")</li>
				    <li>@Html.ActionLink("About", "About", "Home")</li>
				    <li>@Html.ActionLink("Agenda", "Agenda", "Home")</li>
					<li>@Html.ActionLink("Register", "ConferenceRegister", "Home")</li>
					<li>@Html.ActionLink("Report", "Report", "Home")</li>
				    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
			    </ul>

		    </div>
	    </div>
    </div>
    <div class="container body-content" style="height: 100%; background-color: #CDCCCC">
        @RenderBody()

    </div>
	<footer class="panel-footer" style="font-family: LatoWebSemibold">
					<p>AGILE IT &copy; @DateTime.Now.Year
						<a href="https://pl-pl.facebook.com/agileitgda/" class="fa fa-facebook"></a>
						<a href="#" class="fa fa-twitter"></a>
					</p>
	</footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
