@using zn1Web.Utils
@model zn1Web.Models.AgendaViewModel 
@{
    ViewBag.Title = "Agenda";
}
@if (Model.IsMobile)
{
	<head>
		@Styles.Render("~/Content/css")
		@Scripts.Render("~/bundles/modernizr")
		@Scripts.Render("~/bundles/jquery")
		@Scripts.Render("~/bundles/bootstrap")
	</head>
}
<h2>Agenda</h2>

<div class="container">

	@foreach (var agenda in Model.Grouped)
	{
		<p>Dzień: @agenda.FirstOrDefault().DayTime.ToString("dd MMMM yyyy")</p>
		string accordionId = string.Format("accordion{0}", agenda.FirstOrDefault().DayTime.ToString("ddMMyy"));
		<div class="panel-group" id="@accordionId">
			@foreach (var agendaClass in agenda.OrderBy(x=>x.DayTime))
			{
				string col = string.Format("collapse{0:ddMMyyHHmm}", agendaClass.DayTime);
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#@accordionId" href="#@col">
								Godzina: @agendaClass.DayTime.ToString("HH:mm") Tytuł: @agendaClass.Title
							</a>
						</h4>
					</div>
					<div id="@col" class="panel-collapse collapse">
						<div class="panel-body">
							<div>Prelegent: @agendaClass.Presenter</div>
							<p>@agendaClass.Description</p>
						</div>
					</div>
				</div>
			}

		</div>
	}
</div>